.container{
    max-width: 864px;
    margin: auto;
    justify-content: center;
}

.mb3{
margin-bottom: 23px;
display: flex;
flex-direction: column;

}

.formlabel{
    padding: 7px 0px;
    margin: 0px;
}

.input{
    padding: 3px;
    font-size: 18px;
    font-weight: bold;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    background-color: rgb(235, 247, 243);

}

.btn{
    color: whitesmoke;
    background-color: blue;
    width: 864px;
    height: 55px;
    border-radius: 20px;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

.copy{
    color: black;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    /* margin-top: 10px; */
    padding: 35px;
    letter-spacing: 8px;
    word-spacing: 4px;
  }
  
  
  .flexIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
  
  }

@media screen and (max-width: 600px) {
    .container{
        max-width: 350px;
        margin: auto;
        justify-content: center;
    }

    .btn{
        color: whitesmoke;
        background-color: blue;
        max-width: 350px;
        min-width: none;
        height: 35px;
        border-radius: 10px;
        justify-content: center;
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .copy{
        color: black;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        /* margin-top: 20px; */
        padding: 25px;
        letter-spacing: 4px;
        word-spacing: 2px;
      }
  
  .flexIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
  
  }
  }